/* src/components/Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que esté siempre encima */
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #3590F3; /* Color de los enlaces */
  }
  
  .navbar-brand {
    font-weight: bold;
  }  