/* src/components/Sidebar.css */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px; /* Ancho cuando está colapsada */
  background-color: #3590F3;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.open {
  width: 200px; /* Ancho cuando está abierta */
}

.sidebar-header {
  padding: 15px;
  text-align: center;
  background-color: #141414;
  color: white;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 15px;
  margin-bottom: 10%;
}

.sidebar-list li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.sidebar-list li a:hover {
  color: #EEC643;
}

.sidebar-list li a i {
  margin-right: 10px;
  font-size: 20px;
}

.sidebar-list li a span {
  display: none; /* Ocultar el texto cuando la barra está colapsada */
}

.sidebar.open .sidebar-list li a span {
  display: inline; /* Mostrar el texto cuando la barra está abierta */
}