.auditoria-container {
  width: 100%;
  padding: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.search-field {
  margin-bottom: 15px;
  width: 100%;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #3590F3; /* Cambia el color según tu preferencia */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #EEC643; /* Color al pasar el cursor */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #141414; /* Color al enfocarse */
}

.TableContainer {
  box-shadow: none;
}

.TableCell {
  text-align: center;
}
